body {
  background-color: #8cc1d6;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
}

h1 {
  color: #000000;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #3b3636;
}

h4 {
  color: #999;
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #26bb2b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

p {
  margin: 5px 0;
  color: #666;
}

strong {
  color: #333;
}